---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION, LINK_DATA_SOURCE, type ICategory } from "../consts";

const tags = Object.keys(LINK_DATA_SOURCE);
const map: Record<string, string[][]> = {
  全部: [],
};
for (let tag of tags as Array<ICategory>) {
  const currentList = LINK_DATA_SOURCE[tag];
  // map[tag] = currentList;
  map["全部"].push(...currentList);
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <section>
      <ul class="list-wrapper">
        {
					map["全部"]?.map((item, index) => (
						<div class="link-item">
							<a href={item[1]} target="_blank">
								<span>{item[0]}</span>
							</a>
						</div>
					))
				}
      </ul>
    </section>
  </body>
</html>
<style>
  section {
    height: calc(100vh - 60px);
    overflow: auto;
    display: flex;
    justify-content: center
  }
	.link-item {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    flex-flow: column;
    align-items: flex-start;

	a {
		text-decoration: none;

    span {
      font-size: 20px;
      font-weight: 800;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(to right, #d3cce3, #e9e4f0);
    }
	}
}
.list-wrapper {
  width: 40%;
}
@media (max-width: 768px) {
  .list-wrapper {
    width: 90%;
  }
}
</style>